
//
// VARIABLES
//

// Colors
$blue: #337ec7;
$blueGray: rgb(25, 110, 97);

// Grays
$black: #000;
$darkerGray: #201e1b;
$darkGray: #585858;
$gray: #656565;
$lightGray: #e8e8e8;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$fancy: 'Audiowide', cursive;

$garamond: 'Cormorant Garamond', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (orientation: portrait) {
    @content;
  }
}
