
//
// VARIABLES
//

// Colors
$blue: hsl(209, 59%, 49%);
$blueGray: hsl(209, 39%, 29%);

// Grays
$black: #000;
$darkerGray: #201e1b;
$darkGray: #5d5d5d;
$gray: #656565;
$lightGray: #f1f1f1;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$fancy: 'Audiowide', cursive;
$content-font: 'Merriweather', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (orientation: portrait) {
    @content;
  }
}
