
//
// VARIABLES
//

// Colors
$blue: #3184d5;

// Grays
$black: #000;
$darkerGray: #201e1b;
$darkGray: #585858;
$gray: #665751;
$lightGray: #ded5ce;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$garamond: 'EB Garamond', serif;
$rochester: 'Rochester', cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
